<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Color Game"
        android:icon="@drawable/app"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- 主選單 Activity (唯一 LAUNCHER) -->
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 遊戲 Activity -->
        <activity android:name=".MainActivity" />

        <!-- 商城 Activity -->
        <activity android:name=".ShopActivity" />

        <!-- 我的小家 Activity -->
        <activity android:name=".MyHomeActivity" />

    </application>

</manifest>